#media-content,#media-control{
	margin:0 auto;
	width:83.333em;
}

#media-control{
	text-align:center;
}

.m-img{
	height:8.333em;
	width:8.333em;
	display: inline-block;
    margin: 0.537em;
    background-position: center center;
    background-size: cover;
}