/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/** End CSS reset **/

body {
	background: #EEE url(../images/back2.png);
	font-family: "Tahoma", sans-serif;
	font-size: 12px;
}

a {
	color: #334E69;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px dotted #1A2836;
	color: #1A2836;
}

div#container {

}

div#content {
	width: 1000px;
	margin: 1em auto;
}

div#content.nomargin {
	margin-top: 0;
}

div#head {
	height: 180px;
	background: url(../images/head-2.png);
}

div#headInner {
	height: 180px;
	background: url(../images/headHighlight.png) 50% 50% no-repeat;
}

div#head h1 {
	background: url(../images/stemWhite2.png) 50% 50% no-repeat;
	width: 1000px;
	height: 150px;
	margin: 0 auto;
}

div#head h1 span {
	display: none;
}

div#shadow {
	height: 9px;
	background: url(../images/shadow.png);
	margin-bottom: -9px;
	position: relative;
	z-index: 100;
}

div#navbar {
	
}

ul#navmain {
	width: 1000px;
	list-style-type: none;
	margin: 0 auto;
	padding: 8px 0;
	text-align: center;
}

ul#navmain li {
	display: inline;
	text-transform: lowercase;
}

ul#navmain li a {
	color: #DDD;
	padding: 8px 1em;
	text-decoration: none;
}

ul#navmain li a:hover {
	background: rgba(80, 80, 80, 0.3);
}

hr {
	background: #000;
	height: 1px;
	border: none;
}

p {
	margin: 0.5em 0;
	line-height: 1.25em;
}

p:first-child { 
	margin: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

div#footer {
	padding: 1em 0em 2em 1em;
	color: #777;
	clear: both;
	width: 1000px;
	margin: 0 auto;
}

div#footer ul#nav {
	list-style-type: none;
	margin: 0;
	float: left;
}

div#footer ul#nav li {
	display: inline;
	text-transform: lowercase;
}

div#footer ul#nav li a {
	text-decoration: none;
	color: #777;
	margin-right: 1em;
}

div#footer ul#nav li a:hover {
	color: #333;
	border-bottom: 1px dotted #777;
}

div#slideshow {
	width: 1000px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

ul#slideshowContent {
    width: 1000px;
    position: absolute;
	top: 0;
	margin: 0;
}

/*ul#slideshowContent li:last-child {
	top: -300px;
}*/

li.slideshowImage {
    float: left;
    position: relative;
	display: none;
}

li.slideshowImage.current {
	display: block !important;
	top: 0px;
}
li.slideshowImage.next {
	display: block !important;
	top: -300px;
	z-index: -1;
}
li.slideshowImage.hidden {
	display: none;
}

li.slideshowImage span {
    position: absolute;
	font: 14px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 1000px;
    background-color: #000;
    filter: alpha(opacity=70);
    opacity: 0.7;
    color: #fff;
    display: none;
}

li.slideshowImage span h3 {
	font-weight: bold;
	font-size: 16px;
}

li.slideshowImage span p {
	margin-top: 0.5em;
}

li.slideshowImage span.left {
	top: 0;
    left: 0;
	width: 110px !important;
	height: 280px;
}

li.slideshowImage span.right {
	right: 0;
	bottom: 0;
	width: 110px !important;
	height: 280px;
}

.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
    left: 0;
}

/* content */
div#nav-posts {
	background: rgba(60, 60, 60, 0.3);
	width: 1000px;
	padding: 1em;
	-moz-border-radius: 0 0 1em 1em;
	border-radius: 0 0 1em 1em;
}

div#nav-posts a {
	color: #273B4F;
}

div#nav-posts a:hover {
	color: #0D1319;
	border: none;
}

div.post {
	margin-top: 1em;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
}

div.post.singular {
	background: #FFF;
	padding: 1em;
	box-shadow: 0 0 0.5em #777;
}

div.post h1 {
	width: 100%;
	font-family: "Tahoma", sans-serif;
	font-size: 30px;
	margin-bottom: 0.5em;
}

div.post h1 a:hover {
	border: none;
}

div.post h2 {
	font-family: "Tahoma", sans-serif;
	font-size: 20px;
	margin-bottom: 0.5em;
}

div.post p {
	text-indent: 2em;
}

div.post h3 {
	font-weight: normal;
	font-size: 12px;
	color: #777;
}

div#comments {
	background: rgba(80, 80, 80, 0.2);
	padding: 0.5em 1em 1em 1em;
	border-radius: 0 0 1em 1em;
	width: 638px;
	margin: 0 auto;
}

div#comments h3 {
	font-size: 28px;
	float: left;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

div#comments-meta {
	display: inline;
	float: right;
}

div#comments input, div#comments textarea {
	border-radius: 5px;
	background: #E8E8E8;
	font-family: Tahoma, sans-serif;
	border: 1px solid #777;
	padding: 3px;
}

div#comments input:hover, div#comments textarea:hover {
	background: #EEE;
	box-shadow: 0 0 0.3em #2593d5;
}

div#comments input:focus, div#comments textarea:focus {
	background: #EEE;
}

div#comments-meta label {
	margin-left: 1em;
}

div#comments-meta input {
	width: 150px;
}

div#comments-box {
	padding-top: 1em;
	clear: both;
}

div#comments-box textarea {
	width: 630px;
}

div#maincol {
	padding: 0.5em;
	float: left;
	width: 988px;
	width: 988px;
}

div#sidebar {
	float: right;
	width: 225px;
	padding: 1em;
}

div#sidebar h3 {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 3px;
}

div#sidebar ul.widgets {
	margin: 0;
}

div#sidebar ul.widgets li.widget-container {
	list-style-type: none;
	margin-bottom: 1em;
}

div#sidebar li {
	margin-bottom: 2px;
}

div.clear {
	clear: both;
}

div#faqQuestions {
	margin-top: 2em;
}

div#faqQuestions a {
	border: none;
}

ul {
	list-style-type: disc;
	margin: 1em 0 1em 4em;
}

ol {
	list-style-type: decimal;
	margin-left: 4em;
}

li {
	margin-bottom: 0.5em;
	line-height: 1.3em;
}

ul ul {
	margin: 0 0 0 2em;
	list-style-type: circle;
}

em {
	font-style: italic;
}


/**reser*/
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}
/*end*/

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul{
	background-color:transparent;
	list-style:none;
	font-family:"Tahoma", sans-serif;
	margin-top:2px;
	margin-left:37%;
	
	position:relative;
	display: inline-table;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float:left;
}

nav ul li:hover{
	background-color:#333333;
}

nav ul li:hover a{
	color: #fff;
	text-decoration:underline;
}

nav ul li a {
	display: block;
	padding: 5px;
	color:#fff;
	
}

nav ul ul {
	background-color:#333333;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	left:-50px;
}

nav ul ul li{
	float: none;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	position:relative;
}

nav ul ul li a{
	padding: 5px;
	color: #fff;
}

nav ul ul li a:hover{
	background-color:#333333;
}

nav ul ul ul{
	position:absolute;
	left:100%;
	top:0;
}


/**More rest**
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}


.hoverNav{
	list-style:none;
	font-family:"Tahoma", sans-serif;
	background-color:transparent;
	margin-top:2px;
	margin-left:37%;
	margin-right:33%;
	float:left;
	width:100%;
	position:relative;
	z-index:5;
	
}
.hoverNav li{
	float:left;
	
	margin-right:10px;
	position:relative;
}
.hoverNav a{
	display:block;
	padding:5px;
	
	color:#fff;
	background-color:transparent;
	text-decoration:none;
}
.hoverNav a:hover{
	color:#fff;
	background-color:transparent;
	text-decoration:underline;
}
.hoverNav ul{
    background:#ddd;
    background:rgba(255,255,255,0);
    list-style:none;
    position:absolute;
    left:-9999px; 
}
.hoverNav ul li{
    padding-top:1px; 
    float:none;
}
.hoverNav ul a{
    white-space:nowrap; 
}
.hoverNav li:hover ul{ 
    left:0; 
}
.hoverNav li:hover a{ 
    background:#333333;
    text-decoration:underline;
    left:0;
}
.hoverNav li:hover ul a{ 
    text-decoration:none;
}
.hoverNav li:hover ul li a:hover{ 
    background:#333;
}
*/
