/*@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700,400italic,300italic,300,600,600italic,700italic);*/
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


strong, b { font-weight: bold; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/** End CSS reset **/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
	background: #EEE /*url(../images/back2.png)*/;
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
}

a {
	color: #497097;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px dotted #1A2836;
	color: #1A2836;
}

div.post ul {
	margin-top: 0.5em;
	margin-left: 2em;
}

div.post {
	margin-bottom: 1em;
}

div#container {

}

div#content {
	text-align: center;
	margin: 1em auto;
	width: 1005px;
}

div#content.nomargin {
	margin-top: 0;
}

header {
	height: 60px;
	background: #222222 /*url(../images/head-2.png)*/;
}

headerInner {
	height: 60px;
	/*background: url(../images/headHighlight.png) 50% 50% no-repeat;*/
}
/*
header h1 {
	background: url(../images/logo.png) 50% 50% no-repeat;
	width: 1000px;
	height: 150px;
	margin: 0 auto;
}

header h1 span {
	display: none;
}*/

div#shadow {
	height: 9px;
	background: url(../images/shadow.png);
	margin-bottom: -9px;
	position: relative;
	z-index: 100;
}
/*
nav {
	background: #111;
	height: 30px;
}*/

ul#navmain {
	width: 1000px;
	list-style-type: none;
	margin: 0 auto;
	padding: 4px 0;
	text-align: center;
}

ul#navmain li {
	display: inline;
	text-transform: lowercase;
}

ul#navmain > li > a {
	color: #DDD;
	padding: 20px 1em;
	text-decoration: none;
	font-size:20px;
}

ul#navmain li a:hover {
	/*background: #222;
	border: 0;*/ 
	text-decoration:underline;
	color:#EEB346;
}
ul.sub{
	z-index:999;
	height:30px;
}

#logo img{
	vertical-align:middle;
	height:50px;
	line-height:50px;
	padding:5px 0;
	
}

hr {
	background: #000;
	height: 1px;
	border: none;
}

p {
	margin: 0.5em 0;
	line-height: 1.5em;
}

p:first-child { 
	margin: 0;
}

.left { float: left; }
.text-left { text-align: left; }

.text-center, .post.text-center { text-align: center; }

.right { float: right; }
.text-right { text-align: right; }

.flash .small {
	float: right;
	font-size: 85%;
}

.flash {
	color: #FFF;
	padding: 6px;
	cursor: default;
}

.flash:hover {
	text-decoration: underline;
}

.flash.error {
	background: #711;
}

.flash.notice {
	background: #8b832b;
}

.flash.success { 
	background: #171;
}

.flash p {
	margin: 0;
	line-height: 1em;
	display: inline;
}

footer {
	padding: 1em 0em 2em 1em;
	color: #777;
	clear: both;
	width: 1000px;
	margin: 0 auto;
}

footer ul#nav {
	list-style-type: none;
	margin: 0;
	float: left;
}

footer ul#nav li {
	display: inline;
	text-transform: lowercase;
}

footer ul#nav li a {
	text-decoration: none;
	color: #777;
	margin-right: 1em;
}

footer ul#nav li a:hover {
	color: #222;
	border-bottom: 1px dotted #777;
}

div#slideshow {
	width: 1000px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

ul#slideshowContent {
    width: 1000px;
    position: absolute;
	top: 0;
	margin: 0;
}

.column {
	display: inline-block;
	vertical-align: top;
}

.three {
	width: 330px;
}

.two {
	width: 500px;
}

.one {
	width: 1000px;
}

.quarter {
	width: 248px;
}

.three-quarters {
	width: 750px;
}

/*ul#slideshowContent li:last-child {
	top: -300px;
}*/

li.slideshowImage {
    float: left;
    position: relative;
	display: none;
}

li.slideshowImage.current {
	display: block !important;
	top: 0px;
}
li.slideshowImage.next {
	display: block !important;
	top: -300px;
	z-index: -1;
}
li.slideshowImage.hidden {
	display: none;
}

li.slideshowImage span {
    position: absolute;
	font: 14px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 1000px;
    background-color: #000;
    filter: alpha(opacity=70);
    opacity: 0.7;
    color: #fff;
    display: none;
}

li.slideshowImage span h3 {
	font-weight: bold;
	font-size: 16px;
}

li.slideshowImage span p {
	margin-top: 0.5em;
}

li.slideshowImage span.left {
	top: 0;
    left: 0;
	width: 110px !important;
	height: 280px;
}

li.slideshowImage span.right {
	right: 0;
	bottom: 0;
	width: 110px !important;
	height: 280px;
}

.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
    left: 0;
}

.science {
	background-color: #34cd34;
}

.technology {
	background-color: #729dd9;
}

.engineering {
	background-color: #f75111;
}

.mathematics {
	background-color: #f1b216;
}

table {
	width: 100%;
}

table th, table td {
	text-align: center;
	padding: 1em;
	border: 1px solid #ccc;
}

table th {
	font-family: "Noto Sans", sans-serif;
	font-size: 120%;
	font-weight: bold;
}

table td {
	
}

table.plain {
	width: auto;
}

table.plain th, table.plain td {
	padding: 0;
	border: none;
}

/* content */
div#nav-posts {
	background: rgba(60, 60, 60, 0.3);
	width: 1000px;
	padding: 1em;
	-moz-border-radius: 0 0 1em 1em;
	border-radius: 0 0 1em 1em;
}

div#nav-posts a {
	color: #273B4F;
}

div#nav-posts a:hover {
	color: #0D1319;
	border: none;
}

div.post {
	margin-top: 1em;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	text-align: left;
}

div.post.singular {
	background: #FFF;
	padding: 1em;
	box-shadow: 0 0 0.5em #777;
}

div.post h1 {
	width: 100%;
	font-family: "Noto Sans", sans-serif;
	font-weight: bold;
	font-size: 30px;
	margin: 0.25em 0 0.5em 0;
}

div.post h1 a:hover {
	border: none;
}

div.post h2 {
	font-family: "Noto Sans", sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin: 0.25em 0 0.5em 0;
}

div.post p {
	text-indent: 2em;
	margin-bottom: 0.5em;
}

div.post h3 {
	font-weight: normal;
	font-size: 12px;
	color: #777;
}

div#comments {
	background: rgba(80, 80, 80, 0.2);
	padding: 0.5em 1em 1em 1em;
	border-radius: 0 0 1em 1em;
	width: 638px;
	margin: 0 auto;
}

div#comments h3 {
	font-size: 28px;
	float: left;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

div#comments-meta {
	display: inline;
	float: right;
}

div#comments input, div#comments textarea {
	border-radius: 5px;
	background: #E8E8E8;
	font-family: "Noto Sans", sans-serif;
	border: 1px solid #777;
	padding: 3px;
}

div#comments input:hover, div#comments textarea:hover {
	background: #EEE;
	box-shadow: 0 0 0.3em #2593d5;
}

div#comments input:focus, div#comments textarea:focus {
	background: #EEE;
}

div#comments-meta label {
	margin-left: 1em;
}

div#comments-meta input {
	width: 150px;
}

div#comments-box {
	padding-top: 1em;
	clear: both;
}

div#comments-box textarea {
	width: 630px;
}

div#maincol {
	padding: 0.5em;
	float: left;
	width: 1000px;
}

div#sidebar {
	float: right;
	width: 225px;
	padding: 1em;
}

div#sidebar h3 {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 3px;
}

div#sidebar ul.widgets {
	margin: 0;
}

div#sidebar ul.widgets li.widget-container {
	list-style-type: none;
	margin-bottom: 1em;
}

div#sidebar li {
	margin-bottom: 2px;
}

div.clear {
	clear: both;
}

div#faqQuestions {
	margin-top: 2em;
}

div#faqQuestions a {
	color: #497097;
}

ul {
	list-style-type: disc;
	margin: 1em 0 1em 4em;
}

ol {
	list-style-type: decimal;
	margin-left: 4em;
}

li {
	margin-bottom: 0.5em;
	line-height: 1.3em;
}

ul ul {
	margin: 0 0 0 2em;
	list-style-type: circle;
}

em {
	font-style: italic;
}


body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}
/*end*/

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul{
	background-color:transparent;
	list-style:none;
	font-family:"Noto Sans", sans-serif;
	margin-top:2px;
	margin-left:37%;
	
	position:relative;
	/* display: inline-table; */
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	/* float:left; */
}

nav ul li:hover{
	/* background-color:#333333; */
}

nav ul li a {
	/* display: block; */
	padding: 5px;
	color:#fff;
	
}

nav ul ul {
	background-color:#222;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	left:-300px;
}

nav ul ul li{
	float: none;
	position:relative;
}

nav ul ul li a{
	padding: 5px 8px;
	color: #fff;
	line-height:20px;
	font-size:16px;
}

nav ul ul ul{
	position:absolute;
	left:100%;
	top:0;
}

input[type='text'], input[type='password'], input[type='submit'], select, button, textarea {
	background: #E2E2E2;
	border: 1px solid #CCC;
	padding: 3px;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	margin: 0 1em;
}

input[type='text']:hover, input[type='password']:hover, input[type='submit']:hover, select:hover, button:hover, textarea:hover {
	background: #DDD;
	border: 1px solid #BBB;
}

input[type='text']:focus, input[type='password']:focus, input[type='submit']:active, select:focus, button:active, textarea:focus {
	background: #EEE;
	border: 1px solid #AAA;
}

input[type='text'], input[type='password'] {
	width: 175px;
}

input[type='text'].num {
	width: 25px;
}

input[type='submit'] {
	padding-left: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
}



table#contact textarea {
	margin: 1em;
	width: 450px;
}

/* Yay responsive design */
/*@media (max-width: 767px) {
	header {
		height: 30px;
	}
	
	header h1 {
		background: none;
	}
	
	header h1 span {
		display: inline;
	}
	
	.three {
		width: 33%;
	}

	.two {
		width: 50%;
	}

	.one {
		width: 100%;
	}

	.quarter {
		width: 25%;
	}

	.three-quarters {
		width: 75%;
	}
	
	div#slideshow, ul#slideshowContent, li.slideshowImage span, footer, header h1, div#content {
		width: 100%;
	}
}*/

#board{
	background-color:#dddddd;
}

#mentors{
	background-color:#4a3e3d;
}

.team-member p{
	visibility:hidden;
}