/*@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700,400italic,300italic,300,600,600italic,700italic);*/
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


strong, b { font-weight: bold; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/** End CSS reset **/

h1,h2,h3,h4,h5,h6,p,td{
	font-family:"Noto Sans";
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
	background: #EEE /*url(../images/back2.png)*/;
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
}

a {
	color: #497097;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px dotted #1A2836;
	color: #1A2836;
}

header {
	height: 6.25em;
	background: #222222;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:1;
    box-shadow: 0 0 1em black;
}

headerInner {
	height: 6.25em;
	/*background: url(../images/headHighlight.png) 50% 50% no-repeat;*/
}

section{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.column {
	display: inline-block;
	vertical-align: top;
}

.three {
	width: 33%;
}

.two {
	width: 41.667em;
}

.one {
	max-width: 83.333em;
}

.quarter {
	width: 20.667em;
}

.three-quarters {
	width: 62.5em;
}

.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
    left: 0;
}

.science {
	background-color: #3ab14a;
}

.technology {
	background-color: #7398cf;
}

.engineering {
	background-color: #ed5025;
}

.mathematics {
	background-color: #ebaf20;
}

table {
	width: 100%;
}

table th, table td {
	text-align: center;
	padding: 0.25em 0em;
    border: none;
	/*border: 0.083em solid #ccc;*/
}

table th {
	font-family: "Noto Sans", sans-serif;
	font-size: 120%;
	font-weight: bold;
}

table td {
	
}

table.plain {
	width: auto;
}

table.plain th, table.plain td {
	padding: 5px 0px;
	border: none;
}

/**
    nav
**/

nav ul ul {
	top:-999px;
	position:absolute;
	transition: top 0.25s ease;
}

nav ul li:hover > ul {
	top:2.625em;
}

nav ul{
	background-color:transparent;
	list-style:none;
	font-family:"Noto Sans", sans-serif;
	margin-top:0.167em	;
	/* margin-left:37%; */
	
	position:relative;
	/* display: inline-table; */
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	/* float:left; */
}

nav ul li:hover{
	/* background-color:#333333; */
}

nav ul li a {
	/* display: block; */
	padding: 0.417em;
	color:#fff;
	
}

nav ul ul {
	background-color:#222;
	border-radius: 0px;
	padding: 0;
}

nav ul ul li{
	float: none;
	position:relative;
}

nav ul ul li a{
	padding: 0.417em 0.667em;
	color: #fff;
	line-height:1.667em;
	font-size:1.333em;
}

nav ul ul ul{
	position:absolute;
	left:100%;
	top:0;
}

ul#navmain {
	width: 8.333em;
	list-style-type: none;
	margin: 0 auto;
	padding: 0.333em 0;
	text-align: center;
	line-height:6.25em;
	display:inline;
	z-index:9999;
}

ul#navmain>li {
	display: inline;
	text-transform: lowercase;
}

ul#navmain > li > a {
	color: #DDD;
	padding: 1em;
	text-decoration: none;
	font-size:1.667em;
}

nav a{
	transition:color 0.25s ease 0s;
}

ul#navmain li a:hover {
	/*background: #222;
	border: 0;*/ 
	color:#EEB346;
}
ul.sub{
	z-index:-30;
	padding:0.447em;
}

#logo img{
	vertical-align:middle;
	height:75px;
	line-height:75px;
	padding:0.417em 0;
	
}


/**
    Footer
*/
footer{
    width: 100%;
    height: 10em;
    background: #222;
}
#social-media{
    height: 3em;   
}

/*
    STEM Summer Page CSS
**/

#jumbotron{
    width: 100%;
    overflow: hidden;
}

#jumbotron img{
    left: 50%;
    margin-left: -960px;
    margin-top: -2px;
    position: relative;
}
#left{
    width: 50%;
    padding-right: 20px;
    clear: left;
    float: left;
    overflow: hidden;
}
#left img{
    max-width: 480px;
}
.department #left img{
    margin-top: 1em;   
}
#right{
    width: 50%;
    padding-left: 20px;
    clear: right;
    float: right;
    overflow: hidden;
}
#right img{
    max-width: 480px;
}
.department #right img{
    position: relative;
    left: -20px;
}
#jumpTo{
    clear: both;   
}
#jumpTo img{
    max-width: 200px;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}
#jumpTo img.top:hover{
    opacity: .8;
    text-decoration: none;
}
div.department h1{
    font-family: 'Roboto', 'sans-serif';
    font-size: 4.5em;
}
div.department h1 img{
    height: .75em;
    padding-right: .2em;
}
div.department{
    text-indent: 2em;
    font-family: 'Noto-sans', 'sans-serif';
    font-size: 14px;
}
#largerText{
    font-size: 1.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-indent: 0px;
}
#noIndent{
    text-indent: 0px;
    font-size: 100%;
}
table#when, table#when td{
    border: 0.083em solid #222;
}
table#when td span{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
}
/* Fixes anchor links being blocked by the fixed header */
.offset:before {
	display: block; 
 	content: " "; 
  	height: 76px;      /* Give height of your fixed element */
        margin-top: -76px; /* Give negative margin of your fixed element */  	
        visibility: hidden; 
}
#time{
    text-align: center;
    font-size: 2em;
}